body {
  background-color: #131316;
  color: #fff;
  font-family: verdana;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}